<h1>New User</h1>

<%= form_for (@user) do |f| %>
  <%= render 'shared/error_messages' %>
  
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "Insert your Email" %>

  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Insert your Password"  %>

  <%= f.submit "Submit"%>
<% end %> 


<%# <%= form_tag("/users") do %> 
      <%# <%= label_tag(:username, "username") %> 
      <%# <%= text_field_tag :username %>

      <%# <%= label_tag(:email, "email") %> 
      <%# <%= email_field_tag :email %> 

      <%# <%= label_tag(:password, "password") %> 
      <%# <%= password_field_tag :password %> 

      <%# <%= submit_tag "Submit"%> 
    <%# <% end %> 

<%# <form action="/users" method="post">  %>
  <%# <label for="user_username">username</label> %>
  <%# <input type="text" name="user[username]" id="username" /> %>
  <%# <label for="email">email</label> %>
  <%# <input type="email" name="user[email]" id="email" /> %>
  <%# <label for="passowrd">password</label> %>
  <%# <input type="password" name="user[password]" id="password" /> %>
  <%# <br><br> %>
  <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token"%>
<%# </form>   %>
