<!DOCTYPE html>
<html>
<head>
  <title>HTML FORM</title>
</head>

<body>
<%
=begin
 <form action="/users" method="post" accept-charset="UTF-8">
    username: <input type="text" name="user[username]"><br>
    email: <input type="email" name="user[email]"><br>
    password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
  </form> 
=end  
%>  


<% 
=begin
    <%= form_tag("/users") do %>
      <%= label_tag(:username, "username") %>
      <%= text_field_tag :username %>
      <%= label_tag(:email, "email") %>
      <%= email_field_tag :email %>
      <%= label_tag(:password, "password") %>
      <%= password_field_tag :password %>
      <%= submit_tag "Submit"%>
    <% end %> 
=end
%>

<%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "Insert your Username" %>

      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "Insert your Email" %>

      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Insert your Password"  %>

      <%= f.submit "Submit"%>
    <% end %> 

</body>

</html>